<mat-toolbar>Toolbar</mat-toolbar>

<div style="padding-left: 5px; padding-right: 5px" fxLayout="column" fxLayoutGap="5px">
	<div fxLayout="row" fxLayoutAlign="space-around center">
		<mat-card fxFlex="30" fxAlign="center">
			Card 1
		</mat-card>
		<mat-card fxFlex="30">
			Card 2
		</mat-card>
		<mat-card fxFlex="30">
			Card 3
		</mat-card>
	</div>

	<div>Buttons - Colours</div>
	<div fxLayout="row" fxLayoutAlign="space-around center">
		<button mat-button>Basic</button>
		<button mat-button color="primary">Primary</button>
		<button mat-button color="accent">Accent</button>
		<button mat-button color="warn">Warn</button>
		<button mat-button disabled>Disabled</button>
		<a mat-button href="https://www.google.com/" target="_blank">Link</a>
	</div>

	<div>Buttons - Styles</div>
	<div fxLayout="row" fxLayoutAlign="space-around center">
		<button mat-button>Basic</button>
		<button mat-raised-button >Raised</button>
		<button mat-stroked-button >Stroked</button>
		<button mat-flat-button >Flat</button>
		<button mat-icon-button aria-label="Example icon button with a home icon">
        <mat-icon>home</mat-icon>
      </button>
		<button mat-fab color="primary" aria-label="Example icon button with a home icon">
          <mat-icon>home</mat-icon>
        </button>
		<button mat-mini-fab color="primary" aria-label="Example icon button with a home icon">
          <mat-icon>home</mat-icon>
        </button>
		<button mat-raised-button><mat-icon>home</mat-icon>Icon Button</button>
	</div>

	<div>
		Button Groups
		<div>
			<mat-button-toggle-group name="fontStyle" aria-label="Font Style">
				<mat-button-toggle value="bold">Bold</mat-button-toggle>
				<mat-button-toggle value="italic">Italic</mat-button-toggle>
				<mat-button-toggle value="underline">Underline</mat-button-toggle>
			</mat-button-toggle-group>
		</div>
	</div>

	<mat-list>
		List
		<mat-list-item>
			Item 1
		</mat-list-item>
		<mat-divider></mat-divider>
		<mat-list-item>
			Item 2
		</mat-list-item>
		<mat-list-item>
			<mat-icon mat-list-icon>home</mat-icon>
			Item 3
		</mat-list-item>
	</mat-list>

	<div fxLayout="row" fxLayoutAlign="space-around center">
		<mat-checkbox color="primary">Checkbox</mat-checkbox>
		<mat-slide-toggle color="primary">Slide me!</mat-slide-toggle>
	</div>

	<mat-radio-group aria-label="Select an option">
		<mat-radio-button value="1">Option 1</mat-radio-button>
		<mat-radio-button value="2">Option 2</mat-radio-button>
	</mat-radio-group>

	<mat-slider></mat-slider>

	<mat-form-field>
		<input matInput>
		<mat-label>Form Field Input</mat-label>
	</mat-form-field>

	<mat-chip-list aria-label="Fish selection">
		<mat-chip>One fish</mat-chip>
		<mat-chip>Two fish</mat-chip>
		<mat-chip color="primary" selected>Primary fish</mat-chip>
		<mat-chip color="accent" selected>Accent fish</mat-chip>
	</mat-chip-list>



	<mat-progress-bar mode="determinate" value="10"></mat-progress-bar>

	<mat-spinner></mat-spinner>


</div>